<div class="container">

  <div class="ui-g">

    <form (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Pessoa</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="pessoas" [responsive]="true" [paginator]="true" emptyMessage="Nenhum registro encotrado"
        [rows]="filtro.itensPorPagina" [lazy]=true [totalRecords]="totalDeRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="estado"></p-column>
        <p-column field="status" header="Status">
          <ng-template let-pess="rowData" pTemplate="body">
            <a href="javascript:;" (click)="altarStatus(pess)" pTooltip="{{ pess.ativo ? 'Desativar' : 'Ativar' }}" tooltipPosition="top">
                {{ pess.ativo ? "Ativo" : "Inativo" }}</a>
          </ng-template>
        </p-column>

        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body" let-pess="rowData">
            <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pess.codigo]"></button>
            <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
              (click)="confirmarExclusao(pess)"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <button pButton label="Nova pessoa" routerLink="/pessoas/nova"></button>
    </div>
  </div>

</div>
